/* While importing fonts, try to do all of them together. */

/* Fonts :- */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,300&display=swap');
/* font-family: 'Ubuntu', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/* font-family: 'Varela Round', sans-serif; */

body{
    /* background-color:antiquewhite; */
    background:linear-gradient(RGB(17 55 6), RGB(15 43 7), black);
    height: 100%;
}

/* Universal-selector --> good practice */
*{
    margin:0;
    padding:0;
}

/* Change the overall navigation-bar font */
nav{
    font-family: 'Ubuntu', sans-serif;
    /* Also disabling text-selection, it just looks wierd */
    -webkit-user-select: none;
    user-select: none;
    -ms-user-select: none;
    width: 100%;
}

nav ul{
    display: flex;
    /* By default, flex-direction:row */
    align-items: center;
    list-style-type: none;
    /* To remove the list pointer icon. */
    height: 65px;
    background-color: black;
    color:white; /* font-color */
}

/* To improve horizontal spacing between "logo-name", "Home", "About" */
nav ul li{
    padding: 0 12px;
    /* Up-Down , Left-Right -- 2-values */
}

/* Adjust the size of logo-image */
.brand img{
    width:44px;
    /* To improve spacing between logo & "name" in nav-bar. */
    padding: 0 4px;
}

/* To bring text "Spotify" to vertical-center of navigation bar. */
.brand{
    display: flex;
    align-items: center;
    font-weight:bolder;
    /* To make "Spotify" larger than other texts in nav-bar. */
    font-size:larger;
}

/* To send song-player to bottom */
.container{
    /* Setting this will help bottom: 0; of .bottom class to send it to bottom */
    min-height: 60vh;
    /* As there aren't that much content in container right now,
    So, it is getting placed at top (including song-player */
    background-color: black;
    color: white;
    /* Dark mode of container */
    font-family: 'Varela Round', sans-serif;
    /* Saved font-family from Google-fonts. */
    display: flex;
    /* To better the showcase of songs inside container */
    margin: 23px auto;
    /* Top-bottom = 23px , Left = Right (as auto) */
    width: 80%;
    border-radius: 12px;
    padding:34px;
    /* For better placing of text inside container */
    /* background-image: url("images/bg.jpg"); */
    background-image: url("Background/cassete2b.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    /* Also disabling text-selection, it just looks wierd */
    -webkit-user-select: none;
    user-select: none;
    -ms-user-select: none;
}

.songList{
    width: 40%;
}

.songList h1{
    color:lightgray;
    font-size: 3.45vw;
}

/* To fit the song-image to a better smaller size. */
.songItem{
    cursor:default;
    /* Prevents cursor from changing to text-editor cursor. */
    /* height:32px; */
    height: 2.8vw;
    display:flex;
    background-color: grey;
    color:black;
    /* As bg got white */
    margin:12px 0;
    /* Only putting top-bottom margin */
    /* padding: 11px 7px; */
    padding: 0.34vw 0.47vw;
    /* font-size: 16px; */
    font-size: 1.03vw;
    text-align: center;
    /* To get a better visual of text-inside */
    justify-content:space-between;
    align-items: center;
    /* Align-items helped image to scale back. */
    border-radius: 7px;
    /* To better the look of song-block */
}

.songItem:hover{
    /* background-color: antiquewhite; */
    background-color: lightgray;
    scale:1.02;
    transition-duration: 0.3s;
}

.artist-name{
    /* font-size:small; */
    font-size: 0.83vw;
    font-weight:lighter;
    color:darkslategray;
}

.artist-name:hover{
    text-decoration:underline;
    cursor:pointer;
}

.songItem img{
    /* width: 43px; */
    width: 2.8vw;
    /* margin: 0 10px 0 3px; */
    margin: 0 1vw 0 0.3vw;
    /* Giving top-right-bottom-left margins to song-image */
    /* border-radius:43px; */
    border-radius:2.8vw;
}

.songItem i:hover{
    cursor:pointer;
    scale:1.1;
}

/* Song time-stamp */
.timestamp{
    margin: 0 23px;
    align-self:center;
}

.songlistplay{
    justify-self: flex-end;
    /* align-self: flex-end; */
}

.song-name{
    min-width:40%;
}

.songItemContainer{
    /* margin-top:50px; */
    margin-top: 3vw;
}




/* Styling song-player */
/* Coloring black */
.bottom{
    position: sticky;
    /* height: 130px; */
    height: 8.5vw;
    padding: 0 1.5vw;
    background-color: black;
    bottom: 0;
    display: flex;
    /* To center the song-player in it. */
    justify-content: space-between;
    align-items:center;
    /* Both will set song-player to horz & vert-center. */
    color:white;
    /* Also disabling text-selection, it just looks wierd */
    -webkit-user-select: none;
    user-select: none;
    -ms-user-select: none;
}

/* To control the separation between progress-bar & play-prev-next buttons */
.icons {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 60px 10px 60px;
    /* top-right-bottom-left */
}

.controls{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    /* Fixing width, as buttons are getting aligned according to their hidden hover text-size */
    /* Also disabling text-selection, it just looks wierd */
    -webkit-user-select: none;
    user-select: none;
    -ms-user-select: none;
}

.loop-image, .shuffle-image{
    width: 25px;
    margin-bottom:17px;
    height: 25px;
}

.hover-btn-text{
    font-family: 'Varela Round', sans-serif;
    background-color: darkslategray;
    border-radius:2px;
    padding:4px;
    text-align: center;
    width:auto;
    /* max-height: 20px; */
    font-size:smaller;
    margin-bottom:10px;
    opacity:0; /* will do 1 when hover */
    transition: opacity 0.2s ease-in;
    /* Putting some transition time */
}

/* Switch cursor to hand.. over play-prev-next buttons */
.icons i, .loop-image, .shuffle-image, .volume-btn{
    cursor: pointer;
    margin: 0 5px;
}

.loop-image, .shuffle-image{
    margin-bottom: 17px;
}

.icons .fa-circle-play:hover , .icons .fa-circle-pause:hover{
    scale:1.1;
    transition:0.1s;
}

.icons .fa-backward-step , .icons .fa-forward-step {
    color:gray;
    scale:1.3;
}

.icons .fa-backward-step:hover , .icons .fa-forward-step:hover {
    scale:1.3;
    color:white;
    transition:0.3s;
}

.loop-image:hover, .shuffle-image:hover {
    scale:1.05;
    color:white;
    transition:0.3s;
}

.progress-and-icons{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-right:17%;
    padding-bottom:20px;
}

.songInfo{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin-top:8px;
    font-family: 'Varela Round', sans-serif;
    width: 25%;
}

.current-song-name{
    margin-bottom:3px;
}

.current-song-name:hover{
    cursor:pointer;
    text-decoration: underline;
}

.current-artist{
    font-size:small;
    color:olive;
    margin-top:3px;
}

.current-artist:hover{
    text-decoration: underline;
    cursor: pointer;
}

.song-playing{
    width:100%;
    display: flex;
    /* justify-content: space-between; */
}

.current-song-cover{
    /* width:80px; */
    width: 5vw;
    /* margin-left:10px; */
    /* margin-left: 0.1vw; */
    /* border:solid 2px gray; */
    border-left: solid 4px darkolivegreen;
    padding-left:4px;

}


.player-gif{
    opacity:0; /* will do 1 when song playss */
    transition: opacity 0.7s ease-in;
}



/* Progress-bar styling */

.progressBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:10px;
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
}

.songProgressBar {
    background-color: rgb(67,67,67);
    width: 35vw;
    height:5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07), 0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);
    border-radius: 4rem;
    position: relative;
    margin: 0 10px;
    /* transition: width 0.5s linear; */
    /* For Mozilla */
    /* -moz-transition: width 0.5s linear; */
    /* For Opera */
    /* -o-transition: width 0.5s linear; */
    /* -webkit-transition: width 0.5s linear; */
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}

.progress{
    /* To overlap over songProgressBar
    that was positioned relative */
    position: absolute;
    top:0;
    left:0;
    /* width: 50%; */
    height: 100%; /* same as parent */
    background-color: rgb(183,183,183);
    border-radius: 4rem;
    /* transition: width 0.5s linear; */
    /* For Mozilla */
    /* -moz-transition: width 0.5s linear; */
    /* For Opera */
    /* -o-transition: width 0.5s linear; */
    /* -webkit-transition: width 0.5s linear; */
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}

#current-time, #duration {
    cursor: default;
    /* Also disabling text-selection, it just looks wierd */
    -webkit-user-select: none;
    user-select: none;
    -ms-user-select: none;
}

.volume{
    display:flex;
    color:white;
    align-items: center;
    justify-content: space-around;
}

.fa-volume-low{
    color: lightgray;
}

.volumeBar{
    background-color: rgb(67,67,67);
    width: 7vw;
    height:5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07), 0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);
    border-radius: 4rem;
    position: relative;
    margin-right: 10px;
    margin-top:33px;
    /* transition: width 0.5s linear; */
    /* For Mozilla */
    /* -moz-transition: width 0.5s linear; */
    /* For Opera */
    /* -o-transition: width 0.5s linear; */
    /* -webkit-transition: width 0.5s linear; */
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}

.volumeValue{
    background-color: rgb(183,183,183);
    width: 7vw;
    height:5px;
    border-radius: 4rem;
    position: absolute;
    /* transition: width 0.5s linear; */
    /* For Mozilla */
    /* -moz-transition: width 0.5s linear; */
    /* For Opera */
    /* -o-transition: width 0.5s linear; */
    /* -webkit-transition: width 0.5s linear; */
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}



@media(max-width:700px) {
    .body{
        width: 100vw;
        height: 100vh;
        font-size: small;
    }

    .container{
        width: 90vw;
    }

    .songList{
        width: 80vw;
    }

    .bottom{
        width: 100vw;
    }

    .curr-song-cover{
        width: 15vw;
    }

    .songItem img{
        width: 6vw;
    }

    .songItem{
        height: 6vw;
        font-size: 1.5vw;
    }

    .artist-name{
        font-size: 1vw;
    }
}